<?xml version='1.0' encoding='utf-8'?>
<widget id="com.radios.ec" version="1.6.0" android-versionCode="10600" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <preference name="Fullscreen" value="true" />
    <name>Radios EC</name>
    <description>
        Radios del Ecuador online.
    </description>
    <author email="darioarreaga14@gmail.com" href="http://phonegap.com">
        Dario Arreaga
    </author>
    <preference name="stay-in-webview" value="true" />
    <access Origin="*" browserOnly="true" subdomains="true" />
    <gap:plugin name="org.apache.cordova.InAppBrowser" />
    <feature name="InAppBrowser">
    <param name="android-package" value="org.apache.cordova.InAppBrowser" />
</feature>
    <content src="index.html" />
    <access origin="*" />
    <icon src="www/logog.png" />
</widget>
